<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header ngclass='card' nglass.xs='cardxs'>
        <mat-panel-title ngclass='card' nglass.xs='cardxs'>
          Tasks
        </mat-panel-title>
        <mat-panel-description>
          Daily tasks
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout='row wrap' fxLayout.xs="column">
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header ngclass='card' nglass.xs='cardxs'>
          <mat-panel-title>
            Tasks
          </mat-panel-title>
          <mat-panel-description>
            Daily tasks
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout='row wrap' fxLayout.xs="column">
          <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
          <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
          <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
          <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
          <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
          <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
          <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
          <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header ngclass='card' nglass.xs='cardxs'>
            <mat-panel-title>
              Tasks
            </mat-panel-title>
            <mat-panel-description>
              Daily tasks
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayout='row wrap' fxLayout.xs="column">
            <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
            <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
            <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
            <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
            <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
            <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
            <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
            <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
          </div>
        </mat-expansion-panel>
  </mat-accordion>
