<mat-card class='profileCard'>
    <mat-card-header>
      <mat-card-title>Task Week</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf='taskStore.taskWeek'>
      <div fxLayout='row' fxLayout.xs='column'>
        <div fxFlex='0 0 50%' fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
          <div fxFlex='0 0 50%' class='label'>Start Date</div>
          <div fxFlex='0 0 50%'>{{taskStore.taskWeek.weekStartDate | date:'yyyy/MM/dd'}}</div>
        </div>
        <div fxFlex="0 0 50%" fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
          <div fxFlex='0 0 50%' class='label'>Value</div>
          <div fxFlex='0 0 50%'>{{taskStore.taskWeek.value | currency}}</div>
        </div>
      </div>
      <div fxLayout='row' fxLayout.xs='column'>
        <div fxFlex="0 0 50%" fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
          <div fxFlex='0 0 50%' class='label'>Days Completed</div>
          <div fxFlex='0 0 50%'>{{taskStore.taskWeek.daysCompleted}}</div>
        </div>
        <div fxFlex="0 0 50%" fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
          <div fxFlex='0 0 50%' class='label'>Status</div>
          <div fxFlex='0 0 50%'>{{ lookUpStore.status | lookupFilter: taskStore.taskWeek.statusId}}</div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <mat-list>
    <mat-list-item *ngFor="let taskDay of taskStore.taskDayList">{{taskDay.date | date:'yyy/MM/dd' }}</mat-list-item>
  </mat-list>
