table {
  width: 100%;

}
.mat-cell{
  width:10%;
  border: white thick solid;
}
.mat-header-cell{
  text-align: center;
  font-size: 1.1em;
  font-weight: bolder;
}
.mat-column-description{
  width:30%;
}

.Incomplete{
  background-color: grey;
}
.Complete {
  background-color:green;
}
.Blocked {
  background-color: red;
}
.taskListCard{
 width:75%;
 margin: 30 px auto;
}
.taskListCard-xs{
  width:95%;
  margin: 25 px auto;
}
