<mat-card class='profileCard'>
  <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header>

  <mat-card-content >
    <div fxLayout='row' fxLayout.xs='column'>
      <div fxFlex='0 0 50%' fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
        <div fxFlex='0 0 50%' class='label'>User</div>
        <div fxFlex='0 0 50%'>{{accountStore.state.name}}</div>
      </div>
      <div fxFlex="0 0 50%" fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
        <div fxFlex='0 0 50%' class='label'>Role</div>
        <div fxFlex='0 0 50%'>{{lookupStore.roles[ 0].name}} :{{accountStore.state.roleid}}</div>
      </div>
    </div>
    <div fxLayout='row' fxLayout.xs='column'>
      <div fxFlex="0 0 50%" fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
        <div fxFlex='0 0 50%' class='label'>Balance</div>
        <div fxFlex='0 0 50%'>{{accountStore.state.balance}}</div>
      </div>
      <div fxFlex="0 0 50%" fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
        <div fxFlex='0 0 50%' class='label'>Days Missed</div>
        <div fxFlex='0 0 50%'>0</div>
      </div>
    </div>
    <div fxLayout='row' fxLayout.xs='column'>
      <div fxFlex="0 0 50%" fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
        <div fxFlex='0 0 50%' class='label'>Bonuses</div>
        <div fxFlex='0 0 50%'>0</div>
      </div>
      <div fxFlex="0 0 50%" fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
        <div fxFlex='0 0 50%' class='label'>Practice</div>
        <div fxFlex='0 0 50%'>0</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
