<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list  *ngIf="loggedIn">
        <a mat-list-item *ngFor='let link of navigationService.left.nav | async'
        [routerLink]='link.path' routerLinkActive="router-link-active"><mat-icon>{{link.icon}}</mat-icon> {{link.text}}</a>
    </mat-nav-list>
    <mat-divider  *ngIf="loggedIn"></mat-divider>
    <mat-nav-list>
      <a mat-list-item *ngIf="!loggedIn"   (click)="onLogin()"><mat-icon>lock</mat-icon> Login</a>
      <a mat-list-item *ngIf="loggedIn" (click)="onLogout()"><mat-icon>lock_open</mat-icon> Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><mat-icon>child_care</mat-icon> {{ title }}</span>
      <a *ngIf='userStore.state' mat-button class='right' [routerLink]='["/profile"]'>{{userStore.state.name}}</a>
    </mat-toolbar>
    <mat-toolbar color="background"  *ngIf="loggedIn && navigationService.top.count | async">
      <mat-nav-list class="horizontal">
        <a mat-list-item *ngFor='let link of navigationService.top.nav | async'
          [routerLink]='link.path' routerLinkActive="router-link-active"><mat-icon>{{link.icon}}</mat-icon> {{link.text}}</a>
      </mat-nav-list>
    </mat-toolbar>
    <router-outlet *ngIf='accountStore.state'></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
