<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tasks
        </mat-panel-title>
        <mat-panel-description>
          Daily tasks
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout='row wrap' fxLayout.xs="column">
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
        <mat-card fxFlex='0 0 23%' fxFlex.sm='0 0 46%' ngClass='card' ngClass.xs='cardxs' ngClass.sm='cardxs'><mat-checkbox>Check me!</mat-checkbox></mat-card>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Behaviour
          </mat-panel-title>
          <mat-panel-description>
            Be on your best
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-checkbox>Check me!</mat-checkbox>
        <mat-checkbox>Check me!</mat-checkbox>
        <mat-checkbox>Check me!</mat-checkbox>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Bonuses
            </mat-panel-title>
            <mat-panel-description>
              Above and Beyond
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-checkbox>Check me!</mat-checkbox>
          <mat-checkbox>Check me!</mat-checkbox>
          <mat-checkbox>Check me!</mat-checkbox>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Practice
              </mat-panel-title>
              <mat-panel-description>
                ... make perfect
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-checkbox>Check me!</mat-checkbox>
          </mat-expansion-panel>
  </mat-accordion>
