<mat-card ngClass="header" *ngIf="taskStore.taskWeek">
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="0 0 50%" fxLayout="row" ngClass="fieldset" ngClass.xs="fieldsetxs">
        <div fxFlex="0 0 50%" class="label">Start Date</div>
        <div fxFlex="0 0 50%">
          {{ taskStore.taskWeek.weekStartDate | date: "yyyy/MM/dd" }}
        </div>
      </div>
      <div fxFlex="0 0 50%" fxLayout="row" ngClass="fieldset" ngClass.xs="fieldsetxs">
        <div fxFlex="0 0 50%" class="label">Account</div>
        <div fxFlex="0 0 50%">{{accountStore.accountList | accountFilter :  taskStore.taskWeek.userIdentifier}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">

      <div fxFlex="0 0 50%" fxLayout="row" ngClass="fieldset" ngClass.xs="fieldsetxs">
        <div fxFlex="0 0 50%" class="label">Status</div>
        <div fxFlex="0 0 50%">
          {{ lookUpStore.status | lookupFilter: taskStore.taskWeek.statusId }}
        </div>
      </div>
      <div fxFlex="0 0 50%" fxLayout="row" ngClass="fieldset" ngClass.xs="fieldsetxs">
        <div fxFlex="0 0 50%" class="label">Value</div>
        <div fxFlex="0 0 50%">{{ taskStore.taskWeek.value | currency }}</div>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<app-task-list [taskActivityList]='taskStore.taskActivityList' [canEdit]='canEdit' *ngIf='taskStore.taskActivityList'>
</app-task-list>
<mat-card ngClass='footer' *ngIf='taskStore.taskActivityList'>
  <mat-card-content>
    <button mat-raised-button (click)="save()" *ngIf='canSave'>Save</button>&nbsp;
    <button mat-raised-button (click)="cancel()">Cancel</button>&nbsp;
    <button mat-raised-button (click)="accept()" *ngIf='canAccept'>Accept</button>
    <button mat-raised-button (click)="reject()" *ngIf='canAccept'>Reject</button>
  </mat-card-content>
</mat-card>
