<mat-card class='profileCard'>
  <mat-card-title>Task Lists</mat-card-title>
  <mat-card-content>
    <div *ngIf='taskWeekListStore.state'>
      <div *ngFor="let taskWeek of taskWeekListStore.state">
        <mat-card>
          <mat-card-content>
            <div fxLayout='row' fxLayout.xs='column'>
              <div fxFlex='0 0 33%' fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
                <div fxFlex='0 0 50%'>
                  <mat-icon>attach_money</mat-icon>
                </div>
                <div fxFlex='0 0 50%'>{{accountStore.accountList | accountFilter :  taskWeek.userIdentifier}}</div>
              </div>

              <div fxFlex='0 0 33%' fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
                <div fxFlex='0 0 50%' class='label'>{{taskWeek.weekStartDate | date: "yyyy/MM/dd" }}</div>
                <div fxFlex='0 0 50%'>{{lookupStore.status | lookupFilter: taskWeek.statusId}}</div>
              </div>

              <div fxFlex='0 0 33%' fxLayout='row' ngClass='fieldset' ngClass.xs='fieldsetxs'>
                <button mat-raised-button [routerLink]='["details", taskWeek.id]'>View</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <p></p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
