/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.profileCard
{

  margin:25px;
}
.fieldset{
  font-size: 16px;
  margin: 5px;
}
.fieldsetxs{
  font-size:14px;
  margin:3px;
  margin-bottom:15px;
  text-align:center;
}
.label
{
  font-weight: bold;
}
.mat-raised-button{
  margin-top:-10px !important;
}
