<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list  *ngIf="userStore.loggedIn$ | async">
        <a mat-list-item [routerLink]='["/profile"]' routerLinkActive="router-link-active"><mat-icon>perm_identity</mat-icon> Profile</a>
        <a mat-list-item [routerLink]='["/tasks"]' routerLinkActive="router-link-active"><mat-icon>done</mat-icon> Tasks</a>
    </mat-nav-list>
    <mat-divider  *ngIf="userStore.loggedIn$ | async"></mat-divider>
    <mat-nav-list>
      <a mat-list-item *ngIf="!(userStore.loggedIn$ | async)"   (click)="onLogin()"><mat-icon>lock</mat-icon> Login</a>
      <a mat-list-item *ngIf="userStore.loggedIn$ | async" (click)="onLogout()"><mat-icon>lock_open</mat-icon> Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><mat-icon>child_care</mat-icon> {{ title }}</span>
      <div class='right'>
        <a *ngIf='accountStore.currentAccount' mat-button [routerLink]='["/profile"]'>{{accountStore.currentAccount.name}}</a>
        <app-message class='float'></app-message>
      </div>
    </mat-toolbar>
    <router-outlet *ngIf='accountStore.currentAccount'></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

